<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!--<form th:action="@{'/clubs/' + ${clubAndAdmin.club.id} + '/admin'}" method="post">-->
<!--<form th:action="@{'/clubs/admin'}" method="post">-->
<form method="post">
	<div class="form-group">
		<label>Admin's name
			<input th:field="${clubClubAdminDTO.admin.name}" class="form-control">
		</label>
		<!-- Note: experiment with getting errors from the field specifically vs email, just on the admin object itself -->
		<span th:errors="${clubClubAdminDTO.admin.name}" class="error"></span>
		<!--		<span th:if="${errors}"-->
		<!--		      th:text="${errors.getFieldError('admin.name')?.getDefaultMessage()}" class="error"></span>-->
	</div>
	<div class="form-group">
		<label>Admin's email
			<input th:field="${clubClubAdminDTO.admin.email}" class="form-control">
		</label>
		<span th:errors="${clubClubAdminDTO.admin}" class="error"></span>
		<!--		<span th:if="${errors}"-->
		<!--		      th:text="${errors.getFieldError('admin.email')?.getDefaultMessage()}" class="error"></span>-->
	</div>
	<div class="form-group">
		<label>Membership level
			<select th:field="${clubClubAdminDTO.admin.membershipLevel}" class="form-control">
				<option value="silver">Silver</option>
				<option value="gold">Gold</option>
			</select>
		</label>
		<span th:errors="${clubClubAdminDTO.admin}" class="error"></span>
	</div>
	
	
	<input type="hidden" th:field="${clubClubAdminDTO.club}">
	
	<input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
