<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form th:action="@{'/clubs/' + ${club.id} + '/admin'}" method="post">
	<div class="form-group">
		<label>Admin's name
			<input th:field="${club.clubAdmin.name}" class="form-control">
		</label>
		<span th:errors="${club.clubAdmin.name}" class="error"></span>
	</div>
	<div class="form-group">
		<label>Admin's email
			<input th:field="${club.clubAdmin.email}" class="form-control">
		</label>
		<span th:errors="${club.clubAdmin.email}" class="error"></span>
	</div>
	<div class="form-group">
		<label>Membership level
			<select th:field="${club.clubAdmin.membershipLevel}" class="form-control">
				<option value="silver">Silver</option>
				<option value="gold">Gold</option>
			</select>
		</label>
		<span th:errors="${club.clubAdmin.membershipLevel}" class="error"></span>
	</div>
	
	<input type="hidden" th:field="${club.name}" th:value="${club.name}">
	<input type="hidden" th:field="${club.location}" th:value="${club.location}">
	<input type="hidden" th:field="${club.id}" th:value="${club.id}">
	
	<th:block th:if="${club.description != null}">
		<input type="hidden" th:field="${club.description}" th:value="${club.description}">
	</th:block>
	
	<th:block th:if="${club.events != null}">
		<input type="hidden" th:field="${club.events}" th:value="${club.events}">
	</th:block>
	
	
	<input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
