<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<h2>Club description</h2>
<p th:text="${club?.description}"></p>

<h3>Our admin</h3>
<div th:if="${club.clubAdmin == null}">
	<p>This club does not have an admin. Would you like to add one?</p>
	<a th:href="@{'/clubs/' + ${club.id} + '/admin'}">Add club admin</a>
</div>
<div th:unless="${club.clubAdmin == null}">
	<p th:text="${club.clubAdmin.name}"></p>
	<a th:href="@{'/clubs/' + ${club.id} + '/admin/delete'}">Delete admin</a>
</div>


<h2>Our events</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Category</th>
	</tr>
	</thead>
	<th:block th:each="event : ${club?.getEvents()}">
		<tr>
			<td th:text="${event.name}"></td>
			<td>
				<a th:text="${event.getEventCategory().name}"
				   th:href="@{/events(categoryId=${event.getEventCategory().getId()})}">
				</a>
			</td>
		</tr>
	</th:block>
</table>

</body>
</html>
